{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./", //Dung '@' de tranh nham lan voi import thu vien
          "underscore": "lodash"
        }
      }
    ]
  ],
  "presets": ["es2015", "es2017"]
}
